numpy
pandas
scipy
scikit-learn
joblib
sentence-transformers
transformers
huggingface-hub
typing-extensions
jieba
tqdm
accelerate
kurigram @ git+https://github.com/KurimuzonAkuma/kurigram@dev
matplotlib
seaborn